<section class="toggle-section js-section-toggle term-references">
  <h2><a href="javascript:void(0)" class="js-toggle-content shown">References &amp; Websites</a></h2>
  <div class="js-section-content" style="display: none;">
    <ol>
      <%= render partial: 'reference', collection: @term.references %>
    </ol>
  </div>
</section>