<% content_for :body_class, "article" %>

<script>
  pageType = "Info page";
</script>

<% content_for :title, page_title.html_safe %>

<section class="back-banner">
</section>

<article class="page-wrap with-gradient">

  <div class="container">

    <header>
      <h1><%= page_title %></h1>
    </header>

    <section class="article-main">
    
      <%= raw(@page.content_for(:body)) %>

    </section>

    <aside class="article-sidebar">
      <%= raw(@page.content_for(:side_body)) %>
    </aside>

  </div>

</article>