<nav class="nav mobile-header-nav" role="navigation">
  <ul class="parent-menu">
    <li>
        <form class="mobile-nav-search">
            <div class="input-wrap">
                <input type="submit" value="">
                <div class="search-field-wrap">
                    <input type="search" placeholder="Search for terms or acronyms">
                </div>
            </div>
        </form>
    </li>
    <%= render 'refinery/shared/header/menu-item-about' %>
    <%= render 'refinery/shared/header/menu-item-browse' %>
  </ul> 
</nav>