<div class="filter-row clearfix">

  <h2><%= copywriting('By category', { scope: 'Theme', default: 'About category:' }) %></h2>

  <div class="filter about-category">
    <em><%= raw @category.description %></em>
  </div>

</div>
